
body{
    background-image: url("bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100%; */
    width: 96vw;
/*    border: 2px solid blue;*/

}



#content{

   /* border: 2px solid yellow; */
    width:100%;
    display: grid;
    grid-gap: 20px;
    grid-template-rows: minmax(75vh,auto) auto auto auto 101vh;
/*    grid-auto-rows: minmax(550px,auto);*/
}

#content > div{
/*			background: #3bbced;*/
/*    border: 2px solid blue;*/
/*	padding: 40px;*/
    width: 97%;
    margin: auto;

		}

#aboutme{
    display: grid;
    grid-template-columns: 5fr 9fr;
    grid-gap: 4vw;
    background-color: rgba(235,110,0,0.9);
    grid-template-areas: "aboutmepic aboutmetext"
}

#aboutme div{
/*    border: 2px solid white;*/
    padding: 7%;

}
#aboutmepic{
    width: 98%;
    grid-area: aboutmepic;
}
#aboutmetext{
    grid-area: aboutmetext;
}
#aboutmetext > p{
    width: 60%;
    font-family:'Work Sans', sans-serif;
    color: white;
    padding-left: 22%;
    padding-top: 10%;
    font-size: 1.4vw;
    font-weight: normal;
}
#hi{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 6.3vw;
    text-align: center;
    font-weight: 900;

}


#inttitle{


    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 6vw;
    text-align: center;
    font-weight: 900;
    padding-top: 13vh;
    padding-bottom: 10vh;

}
#interest{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    grid-template-areas:
        "bad code cricket"
        "learn chess key";
    justify-items: center;
/*    align-items: center;*/
}
#interest > div{
    width: 14vw;
    height: 14vw;
    padding: 0;
/*    border: 1px solid red;*/
    background-color: rgba(235,110,0,0);
    border-radius: 50%;
    transition: background-color 0.8s, height 0.8s, width 0.8s;
}

#interest > div:hover{
    background-color: rgba(235,110,0,0.6);
    height: 16.8vw;
    width: 16.8vw;
}
#interest > div:hover img{
   opacity: 0;
    width: 16.8vw;
}
#interest > div:hover .inttext{
    color: rgba(255,255,255,1);
}

#interest img{
    width: 14vw;
/*    object-fit: scale-down;*/
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.8s, width 0.8s;
/*    z-index: 0;*/


}
#interest img:hover{
    opacity: 0;
    width: 16.8vw;
}

.inttext{
    padding: 0px;
    position: relative;
    top: -10.8vw;
    text-align: center;
    color: rgba(255,255,255,0);
    transition: color 0.8s;
    font-family:'Work Sans', sans-serif;
    font-size: 1.6vw;
    font-weight: 700;
}



#badminton{
    grid-area: bad;
}
#coding{
    grid-area: code;
}
#chess{
    grid-area: chess;
}
#cricket{
    grid-area: cricket;
}
#learning{
    grid-area: learn;
}
#keyboard{
    grid-area: key;
}

#contact{
  height: 100%;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */

}
canvas{
  /* border: 2px solid red; */
  float : left;


}
#contact p{
  color:white;
  width: 80%;
  font-family:'Work Sans', sans-serif;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  float: left;
  position: relative;
  top: -60vh;
  left: 10vw;
  margin: auto;
}

#social{

width: 100%;
margin: 0;
padding: 0;
display: block;

}
#social img{
  display: inline-block;
  width : 4vw;
  position: relative;
  top: -30vh;
  margin: 0;
  padding: 0;
}
#fb{
  right: 60vw;
}
#gh{
  right: 45vw;
}
#gp{
  right: 30vw;
}
#mail{
  right: 15vw;
}


@media only screen and (max-width:700px){
body{
    background-image: url("bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 96vw;
}
#content > div{
    width: 100%;
    margin: auto;

}
#hi{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 9.5vw;
    text-align: center;
    font-weight: 900;

}
#aboutme div{
/*    border: 2px solid white;*/
    padding: 0;

}
#aboutmepic{
    width: 98%;
    grid-area: aboutmepic;
    padding-bottom: 2vh;
    padding-top: 2vh;
    margin:auto;
}
#aboutme{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 4vw;
    background-color: rgba(235,110,0,0.9);
    grid-template-areas: "aboutmepic" "aboutmetext";
}
#aboutmetext > p{
    width: 70%;
    font-family:'Work Sans', sans-serif;
    color: white;
    padding: 4%;
    font-size: 3.4vw;
    font-weight: normal;
}
#interest{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5vw;
    grid-template-areas:
        "bad code" "cricket learn" "chess key";
    justify-items: center;
/*    align-items: center;*/
}
#interest > div{
    width: 22vw;
    height: 22vw;
    padding: 0;
/*    border: 1px solid red;*/
    background-color: rgba(235,110,0,0);
    border-radius: 50%;
    transition: background-color 0.8s, height 0.8s, width 0.8s;
}
#interest > div:hover{
    background-color: rgba(235,110,0,0.7);
    height: 30vw;
    width: 30vw;
}
#interest > div:hover img{
    opacity: 0;
    width: 30vw;
}
#interest img{
    width: 22vw;
/*    object-fit: scale-down;*/
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.8s, width 0.8s;
/*    z-index: 0;*/


}
#interest img:hover{
    opacity: 0;
    width: 30vw;
}
.inttext{
    padding: 0px;
    position: relative;
    top: -20vw;
    text-align: center;
    color: rgba(255,255,255,0);
    transition: color 0.8s;
    font-family:'Work Sans', sans-serif;
    font-size: 3vw;
    font-weight: 700;
}
#inttitle{


    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 11vw;
    text-align: center;
    font-weight: 900;
    padding-top: 12vh;
    padding-bottom: 8vh;

}
#contact p{
  color:white;
  width: 80%;
  font-family:'Work Sans', sans-serif;
  font-size: 5vw;
  font-weight: 500;
  text-align: center;
  float: left;
  position: relative;
  top: -80vh;
  left: 10vw;
  margin: auto;
}

#social{

width: 100%;
margin: 0;
padding: 0;
display: block;
position: relative;
top: -20vh;

}
#social img{
  display: inline-block;
  width : 10vw;
  position: relative;
  margin: 0;
  padding: 0;
}
#fb{
  right: 40vw;
}
#gh{
  right: 40vw;
}
#gp{
  right: 40vw;
}
#mail{
  right: 40vw;
  /* top : 10vh; */
}

}
